<h1>
  <%= @club.name %>
</h1>

<%= image_tag(@club.img_url) %>
<p>
  <%= @club.description %>
</p>


<h2>Upcoming Events</h2>

<% @events.each do |event| %>
  <div class="well">
    <%= event.name %>
    ||
    <%= event.date %>
    <%= event.description %>
    <p>
        <%= link_to "more info", sites_event_path(event) %>
    </p>
  </div>
<% end %>

<p>
  <%= @club.address %>
</p>



<hr style="color:white;">


<div  style='width: 100%;'>
  <div id="custom_style" style='width: 100%; height: 300px;'></div>
</div>


<script charset="utf-8">


  var handler = Gmaps.build('Google');
  handler.buildMap({
      internal: {id: 'custom_style'},
      provider: {
        zoom:      15,
        center:    new google.maps.LatLng(<%= @club.latitude %>,<%= @club.longitude %>),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles:    mapStyle
      }
    },
    function(){
    var markers = handler.addMarkers([
    { lat: <%= @club.latitude %>, lng: <%= @club.longitude %>}
  ]);
  handler.bounds.extendWith(markers);
    }
  );

</script>
