<h2><%= @event.name %> - <%= @event.date %></h2>
<div class="well">
<p>
  <%= @event.description %>
</p>


<%= form_tag "/sites/update2" do %>
  <p>
    <%= select_tag 'tables', options_for_select([1,2,3,4,5,6,7,8,9]) %>
  </p>
  <p>
    <%= select_tag 'persons', options_for_select([1,2,3,4,5,6,7,8,9]) %>
  </p>
  <p>
    <%= label "Email" %>
    <%= email_field_tag 'email' %>
  </p>
  <p>
      <%= submit_tag "Book It" %>
  </p>


<% end %>



</div>
